body {
    text-rendering: optimizeLegibility;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.15;
    background: linear-gradient(to top right, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    Height: 1100px;
   /* background-image: url('./wp2572361-star-wallpaper.jpg'); */
    max-width: 100%;
    text-align: center
}
h1 {
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    word-spacing: 100px;
    padding: 80px 0;
    font-weight: 900;
    color: #fff;
    

}
pre {
   color: #fff;
    font-weight: 200;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}


   
/* From cssbuttons.io by @westitan */

   /* From cssbuttons.io */
button {
  padding: 1.3em 3em;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 20px;

 }
 
 button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
 }
 
 button:active {
  transform: translateY(-1px);
 }
   

   /* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    
  }
    /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: center;
    padding: 20px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 5%;
  }  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
      border-radius: 30%;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  img {
    width: 200px;
    height: 200px;
    position: sticky;
    left: 0px;
    padding: 10px;
  }
  
 
  .navbar {
   
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 100px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  
     
  